<div class="footer">
  <button class="btn under-btn" onclick="window.location.href='/'">
    <i class="bi bi-house"></i>
    <p>ICECARE</p>
  </button>
    <button class="btn under-btn" onclick="window.location.href='/reservation'">
      <i class="bi bi-calendar-check"></i>
      <p>예약하기</p>
    </button>
    <button class="btn under-btn" onclick="window.location.href='/my-reservations'">
      <i class="bi bi-clock"></i>
      <p>예약조회</p>
    </button>
    <button class="btn under-btn" onclick="window.location.href='/mypage'">
      <i class="bi bi-person"></i>
      <p>내정보</p>
    </button>
    
  </div>