{% extends 'layout.html' %}
{% block style %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="signup-header">
        <span><a href="/my-reservations"><i class="bi bi-chevron-left"></i></a></span>
        <span class="signup-title">결제 완료</span>
        <span> </span>
    </div>
    
    <div class="success-container mt-2 p-4 d-flex flex-column align-items-left">
        <h1 class="mb-3" style="color: #2563EB;">결제 완료</h1>
        <p>결제가 완료되었습니다.</p>
        <p>고객 이름 : {{ reservation.name | safe }}</p>
        <p>결제 금액 : {{ reservation.price | safe }}원</p> 
         
        <a href="/reservation/{{reservation.res_no}}" class="btn btn-primary mt-4">예약 상세 보기</a>
    </div>
{% include 'partials/footer.html' %}  
      
</div>
{% endblock %}
{% block script %}
{% endblock %}