{% extends 'layout.html' %}
{% block style %}
<style>
   .container {
        min-height: 100vh;
        padding: 1rem 0;
    }
    .signup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .signup-title {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .progress-container {
      text-align: center;
      width: 100%;
      max-width: 600px;
    }
    .progress-steps {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      margin: 10px 0 30px 10px;
      
    }

    .progress-step {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 2;
      margin-left: 10px;
    }
    .progress-step-circle {
      width: 25px;
      height: 25px;
      border-radius: 20%;
      border: 1px solid #9b9d9e;
      color: #9b9d9e;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      transition: background-color 0.3s, color 0.3s ease;
    }
    .progress-step-circle.active {
        background-color: #0084FF;
        color: white;
        border: none;
    } 
    .progress-text{
      margin-top: 5px;
      font-size: 12px;
      color: white;
    }
    .progress-text.active {
        color: #0084FF;
    }
    .logo-container {
        background-color: #0084FF;
        margin-left: 10px;
    }
    .logo-container img {
        max-width: 200px;
        max-height: 30px;
    }
    
    
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="signup-header">
        <span><i class="bi bi-chevron-left"></i></span>
        <span class="signup-title">회원가입</span>
        <span> </span>
    </div>
    <div class="progress-container">
        <div class="progress-steps">
            <!-- <div class="progress-line" id="progressLine"></div> -->
            <div class="progress-step" data-step="1">
                <div class="progress-step-circle active" >1</div>
                <div class="progress-text active">약관동의</div>
            </div>
            <div class="progress-step" data-step="2">
                <div class="progress-step-circle">2</div>
                <div class="progress-text">정보입력</div>
            </div>
            <div class="progress-step" data-step="3">
                <div class="progress-step-circle">3</div>
                <div class="progress-text">가입완료</div>
            </div>
        </div>
    </div>    <!-- progress-container -->   

    <div class="logo-container">
        <img src="/images/logo.png" alt="logo">
    </div>

    <div class="form-container" id="formContainer">
        <div id="step1">
          <label>
            <input type="checkbox" id="termsCheckbox"> 약관에 동의합니다
          </label>
          <br>
          <button id="submitBtn1" disabled>가입하기</button>
        </div>
      </div>
    </div>  <!-- form-container -->
    
   
        
</div> <!-- container -->
{% endblock %}
{% block script %}
<script>
   
</script>
{% endblock %}